/* start toppanel */
#toppanel {
    position: absolute;
    top: 0px;
    background-color: #efefef;
    height: 56px;
    font-size: 12px;
    font-family: 'OpenSans-SemiBold';
    color: white;
    width: 100%;
}

#toppanel #control-bar {
    height: 56px;
    position: relative;
    display: inline-block;
    text-align: left;
    top: 10px;
}

#toppanel .button {
    margin-top: 15px;
    margin-right: 20px;
    float: left;
    position: relative;
    padding: 6px 17px 4px 17px;
}

#toppanel #rotateDevice {
    height: 20px;
    font-family: 'OpenSans-SemiBold';
    font-size: 11px;
    margin-left: 10px;
    margin-right: 30px;
    padding: 6px 0px 4px;
}

#toppanel .gesturecontrol {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    float: left;
    position: relative;
    padding-top: 6px;
}

#toppanel .zoomcontrol {
    margin-top: 15px;
    float: left;
    position: relative;
    margin-left: 30px;
    margin-right: 10px;
    width: 250px;
}

#toppanel .titlecontrol {
    font-size: 12px;
    float: left;
    margin-right: 5px;
    color: #707070;
    font-family: 'OpenSans-Regular';
}

#toppanel #gestureTool {
    font-family: OpenSans-SemiBold;
    color: #707070;
    font-size: 11px;
    position: relative;
    width: 100px;
    background-color: transparent;
    border: 0 none;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
    cursor: pointer;
}

#toppanel .styled-select {
    border: 0 none;
    float: left;
    overflow: hidden;
    background-color: #EFEFEF;
}

#toppanel .zoomcontrol span {
    margin-top: 9px;
    width: 12px;
    height: 13px;
}

#toppanel #zoomValue[disabled] {
    border: none;
    top: 6px;
}

#toppanel .controls {
    display: inline;
}

#toppanel {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

#toppanel .styled-select {
    width: 150px;
    height: 30px;
    position: relative;
}

#toppanel .zoomcontrol .styled-select {
    width: 55px;
    height: 27px;
    position: relative;
}

#toppanel .panel-separator {
    background-color: #AAAAAA;
    display: inline-block;
    height: 22px;
    float: left;
    margin-top: 19px;
    vertical-align: top;
    width: 1px;
}

.showComments #toppanel {
    top: 45px;
}

.commentsMode.showComments #toppanel {
    top: 53px;
}

/* mainpanel */
#jim-body {
    background-color: #efefef;
}

#jim-container {
    background-color: #ffffff;
}

#jim-body.controlled { /*top:62px;*/
    top: 56px;
}

#jim-body.controlled-nocom {
    top: 62px;
}

.cursor {
    position: absolute;
    z-index: 999;
    background-image: url("../../css/images/cursor2.png");
    width: 32px;
    height: 32px;
}

body {
    display: none;
    overflow: hidden;
}

/* cursors */
#jim-container.touch {
    cursor: url('./resources/_jim/css/images/touch.cur'), auto !important;
}

#jim-container.touch {
    cursor: url('../images/touch.cur') 16 16, auto !important;
}

#jim-container {
    cursor: none !important;
}

.menu {
    cursor: inherit;
}

.menunode {
    cursor: inherit;
}

.menunode span {
    cursor: inherit;
}

.text input, .password input, .number input, .inputurl input, .email input, .date input, .time input, .datetime input, .file input, textarea {
    cursor: inherit;
}

.date .icon, .time .icon, .datetime .icon {
    cursor: inherit;
}

.file .file-input {
    cursor: inherit;
}

.nativedropdown .dropdown-options, .dropdown .dropdown-options {
    cursor: inherit;
}

.index span {
    cursor: inherit;
}

.selected {
    cursor: inherit;
}

/* components */
#jim-container .ui-page, .selectionlist, .multiselectionlist, .radiobuttonlist, .checkboxlist, .panel, .cellcontainer, .datarow, .headerrow, .datacell, .gridcell {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.selectionlist .scroll, .multiselectionlist .scroll, .radiobuttonlist .scroll, .checkboxlist .scroll {
    overflow: visible !important;
}

/*** other ***/
* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[readonly], textarea[readonly] {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

.gesturecontrol span.customSelect {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 80px;
    font-size: 11px;
    color: #707070;
    font-family: OpenSans-SemiBold;
    height: 15px;
    white-space: nowrap;
}

.gesturecontrol span.customSelectImage {
    background-position: -98px -90px;
    position: absolute;
    top: 6px;
    left: 64px;
    width: 10px;
    height: 15px;
}

/*Zoom slider styles*/
#zoom-slider-cursor {
    border-radius: 50%;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #21C0C0;
    top: 8px;
    left: 116.5px;
    cursor: pointer;
}

#zoom-bar-hotspot {
    position: absolute;
    top: 10px;
    left: 24px;
    width: 200px;
    height: 8px;
    cursor: pointer;
}

#zoom-slider-empty {
    margin-top: 4px;
    width: 200px;
    height: 2px;
    background-color: #CCCCCC;
}

#zoom-slider-full {
    position: absolute;
    top: 4px;
    width: 100px;
    height: 2px;
    background-color: #21C0C0;
}

#zoom-slider-minus {
    background-position: -110px -92px;
    float: left;
    cursor: pointer;
}

#zoom-slider-plus {
    background-position: -125px -92px;
    float: right;
    cursor: pointer;
}

.zoomcontrol span:hover {
    opacity: 0.75;
}

#zoom-slider-cursor:hover {
    background-color: #31D0D0;
}
