#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-base_1 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_34 {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
    filter: alpha(opacity=15);
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_23 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-more-vertical_1 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-menu_1 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_24 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_25 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_33 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_34 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_9 {
    rotation: 0.0;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_14 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_15 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_23 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_6 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_24 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_27 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_28 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_29 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_31 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_9 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_32 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_36 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_37 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_38 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_24 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_27 {
    -ms-filter:;
    filter:;
    margin-left: 0px;
    margin-top: 0px;
}

#jim-container .ui-page {
    overflow-x: hidden;
}

.non_jim_mobile #simulation {
    overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
    width: 1px;
    visibility: hidden;
    display: none;
}