#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
    background-color: transparent;
    background-image: none;
    position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
    position: relative;
    width: 100%;
    height: 100%;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Empty-Screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 640px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_top .layout {
    overflow-x: hidden;
    overflow-y: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_top td.layout {
    padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_top .verticalalign {
    vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_top {
    width: 360px;
    height: 75px;
    background-color: #FFFFFF;
    background-image: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Header {
    width: 360px;
    height: 76px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-base_1 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 38px;
    padding-left: 73px;
    width: 287px;
    height: 38px;
    background-color: #21C0C0;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -3px 0px 4px 0px #A0A0A0;
    text-shadow: none;
    font-size: 16.0pt;
    font-family: 'Roboto-Light', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-base_1 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-base_1 span {
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 16.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-base_1 span#rtr-s-base_1_0 {
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 16.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-status-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 20px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_34 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-right: 8px;
    width: 352px;
    height: 20px;
    background-color: #000000;
    background-image: none;
    opacity: 0.15;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 10.0pt;
    font-family: 'Roboto-Light', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_34 .valign {
    vertical-align: middle;
    text-align: right;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_34 span {
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_14 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_22 {
    width: 360px;
    height: 20px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_22 td.layout {
    padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_22 .verticalalign {
    vertical-align: top;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_23 {
    width: 61px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 {
    padding-right: 5px;
    width: 41px;
    height: 20px;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 9.0pt;
    font-family: 'Roboto-Light', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 .valign {
    vertical-align: middle;
    text-align: right;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 span {
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 9.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 span#rtr-s-Label_69_0 {
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 9.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
    position: absolute;
    top: 36px;
    left: 53px;
    width: auto;
    height: auto;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 14.0pt;
    font-family: 'Roboto-Light', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Light', Arial;
    font-size: 14.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-more-vertical_1 > svg {
    width: 26px;
    height: 26px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-more-vertical_1 {
    position: absolute;
    top: 35px;
    left: 325px;
    width: 26px;
    height: 26px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-menu_1 > svg {
    width: 26px;
    height: 26px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-menu_1 {
    position: absolute;
    top: 36px;
    left: 17px;
    width: 26px;
    height: 26px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 .layout {
    overflow-x: hidden;
    overflow-y: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 td.layout {
    padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 .verticalalign {
    vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 {
    width: 360px;
    height: 49px;
    background-color: #FFFFFF;
    background-image: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_12 {
    width: 360px;
    height: 49px;
    background-color: #F9F9F9;
    background-image: none;
    box-shadow: -3px 0px 4px 0px #A0A0A0;
    overflow-x: auto;
    overflow-y: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_12 td.layout {
    padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_12 .verticalalign {
    vertical-align: top;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_24 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 105px;
    height: 48px;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_24 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_24 span {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_24 span#rtr-s-Label_24_0 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_25 {
    position: absolute;
    top: 0px;
    left: 105px;
    width: 105px;
    height: 48px;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_25 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_25 span {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_25 span#rtr-s-Label_25_0 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_25 span#rtr-s-Label_25_1 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_33 {
    position: absolute;
    top: 0px;
    left: 210px;
    width: 105px;
    height: 48px;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_33 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_33 span {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_33 span#rtr-s-Label_33_0 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_34 {
    position: absolute;
    top: 0px;
    left: 315px;
    width: 105px;
    height: 48px;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_34 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_34 span {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_34 span#rtr-s-Label_34_0 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_34 span#rtr-s-Label_34_1 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 {
    position: absolute;
    top: 0px;
    left: 420px;
    width: 105px;
    height: 48px;
    background-color: transparent;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 span {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 span#rtr-s-Label_35_0 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 span#rtr-s-Label_35_1 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_35 span#rtr-s-Label_35_2 {
    color: #898989;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_9 {
    position: absolute;
    top: 47px;
    left: 0px;
    width: 106px;
    height: 3px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #21C0C0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_center .layout {
    overflow-x: hidden;
    overflow-y: auto;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_center td.layout {
    padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_center .verticalalign {
    vertical-align: top;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_center {
    width: 360px;
    height: 468px;
    background-color: #FFFFFF;
    background-image: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_1 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_2 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_3 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 span#rtr-s-Rectangle_9_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 span#rtr-s-Rectangle_9_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_4 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 span#rtr-s-Rectangle_13_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 span#rtr-s-Rectangle_13_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_14 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_14 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_14 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_15 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_15 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_15 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 span#rtr-s-Rectangle_16_1 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_5 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 span#rtr-s-Rectangle_17_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 span#rtr-s-Rectangle_17_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_6 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 span#rtr-s-Rectangle_22_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 span#rtr-s-Rectangle_22_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_23 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_23 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_23 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_6 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_24 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_24 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_24 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 span#rtr-s-Rectangle_25_1 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_7 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 span#rtr-s-Rectangle_26_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 span#rtr-s-Rectangle_26_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_27 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_27 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_27 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_28 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_28 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_28 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_29 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_29 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_29 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_29 span#rtr-s-Rectangle_29_1 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_8 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 span#rtr-s-Rectangle_30_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 span#rtr-s-Rectangle_30_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_31 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_31 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_31 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_31 span#rtr-s-Rectangle_31_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_9 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_32 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_32 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_32 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 span#rtr-s-Rectangle_33_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 span#rtr-s-Rectangle_33_1 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_9 {
    width: 360px;
    height: 90px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 18px;
    width: 360px;
    height: 72px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 span#rtr-s-Rectangle_35_1 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 span#rtr-s-Rectangle_35_2 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_36 {
    position: absolute;
    top: 27px;
    left: 90px;
    width: 261px;
    height: 54px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_36 .valign {
    vertical-align: top;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_36 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 72px;
    height: 72px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_37 {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_37 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_37 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_37 span#rtr-s-Rectangle_37_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_38 {
    position: absolute;
    top: 9px;
    left: 90px;
    width: 216px;
    height: 18px;
    background-color: #FFFFFF;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    line-height: 18px;
    font-size: 10.0pt;
    font-family: 'Roboto-Bold', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_38 .valign {
    vertical-align: middle;
    text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_38 span {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_38 span#rtr-s-Rectangle_38_0 {
    color: #4D4D4D;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Bold', Arial;
    font-size: 10.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_bottom .layout {
    overflow-x: hidden;
    overflow-y: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_bottom td.layout {
    padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_bottom .verticalalign {
    vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_bottom {
    width: 360px;
    height: 48px;
    background-color: #FFFFFF;
    background-image: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Horizontal-softkeys {
    width: 360px;
    height: 48px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 48px;
    background-color: #000000;
    background-image: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
    text-shadow: none;
    font-size: 11.0pt;
    font-family: 'Roboto-Regular', Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 .valign {
    vertical-align: middle;
    text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 span {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 11.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
    color: #808080;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto-Regular', Arial;
    font-size: 11.0pt;
    line-height: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
    position: absolute;
    top: 9px;
    left: 263px;
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_24 {
    position: absolute;
    top: 9px;
    left: 161px;
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_27 {
    position: absolute;
    top: 9px;
    left: 63px;
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: none;
}

#jim-container .ui-page {
    overflow-x: hidden;
}

.non_jim_mobile #simulation {
    overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
    width: 1px;
    visibility: hidden;
    display: none;
}