/*!
 * @original-license
 * jQuery Mobile Framework 1.1.0 db342b1f315c282692791aa870455901fdb46a55
 * http://jquerymobile.com
 *
 * Copyright 2011 (c) jQuery Project
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 */
.ui-page {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.ui-page-active {
    display: block;
}

.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 350ms;
    -ms-animation-timing-function: ease-out;
    -ms-animation-duration: 350ms;
    -animation-timing-function: ease-out;
    -animation-duration: 350ms;
}

.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 225ms;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 225ms;
    -ms-animation-timing-function: ease-in;
    -ms-animation-duration: 225ms;
    animation-timing-function: ease-in;
    animation-duration: 225ms;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade.out {
    opacity: 0;
    -ms-opacity: 0;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 350ms;
    -moz-animation-name: fadeout;
    -moz-animation-duration: 350ms;
    animation-name: fadeout;
    animation-duration: 350ms;
}

.fade.in {
    opacity: 1;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    animation-name: fadein;
}

.pop {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.pop.in {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-animation-name: popin;
    -moz-transform: scale(1);
    -moz-animation-name: popin;
    transform: scale(1);
    animation-name: popin;
}

.pop.out {
    opacity: 0;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 100ms;
    -moz-animation-name: fadeout;
    -moz-animation-duration: 100ms;
    animation-name: fadeout;
    animation-duration: 100ms;
}

@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes popin {
    from {
        -moz-transform: scale(.8);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes popin {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
}

@-moz-keyframes popout {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(.8);
        opacity: 0;
    }
}

@keyframes popout {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}

/* START JIM MODIFICATION */
.viewport-slideup, .viewport-slideright, .viewport-slidedown, .viewport-slideleft {
    overflow: hidden;
}

.intransition {
    position: absolute;
    top: 0px;
    left: 0px;
}

.intransitionrelative {
    position: relative;
    top: 0px;
    left: 0px;
}

/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromtop {
    from {
        -webkit-transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slideinfromtop {
    from {
        -moz-transform: translateY(-100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@keyframes slideinfromtop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideinfromright {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slideinfromright {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@keyframes slideinfromright {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideinfrombottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slideinfrombottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@keyframes slideinfrombottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideinfromleft {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slideinfromleft {
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@keyframes slideinfromleft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* keyframes for slideout to sides */
@-webkit-keyframes slideouttotop {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes slideouttotop {
    from {
        -moz-transform: translateY(0);
    }
    to {
        -moz-transform: translateY(-100%);
    }
}

@keyframes slideouttotop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes slideouttoright {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes slideouttoright {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(100%);
    }
}

@keyframes slideouttoright {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slideouttobottom {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes slideouttobottom {
    from {
        -moz-transform: translateY(0);
    }
    to {
        -moz-transform: translateY(100%);
    }
}

@keyframes slideouttobottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@-webkit-keyframes slideouttoleft {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@-moz-keyframes slideouttoleft {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

@keyframes slideouttoleft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slideup.out, .slideup.in, .slideright.out, .slideright.in, .slidedown.out, .slidedown.in, .slideleft.out, .slideleft.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms;
}

/* slideup */
.slideup.out {
    -webkit-transform: translateY(-100%);
    -webkit-animation-name: slideouttotop;
    -moz-transform: translateY(-100%);
    -moz-animation-name: slideouttotop;
    transform: translateY(-100%);
    animation-name: slideouttotop;
}

.slideup.in {
    -webkit-transform: translateY(0);
    -webkit-animation-name: slideinfrombottom;
    -moz-transform: translateY(0);
    -moz-animation-name: slideinfrombottom;
    transform: translateY(0);
    animation-name: slideinfrombottom;
}

/* slideright */
.slideright.out {
    -webkit-transform: translateX(0);
    -webkit-animation-name: slideouttoright;
    -moz-transform: translateX(0);
    -moz-animation-name: slideouttoright;
    transform: translateX(0);
    animation-name: slideouttoright;
}

.slideright.in {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideinfromleft;
    -moz-transform: translateX(-100%);
    -moz-animation-name: slideinfromleft;
    transform: translateX(-100%);
    animation-name: slideinfromleft;
}

/* slidedown */
.slidedown.out {
    -webkit-transform: translateY(-100%);
    -webkit-animation-name: slideouttobottom;
    -moz-transform: translateY(-100%);
    -moz-animation-name: slideouttobottom;
    transform: translateY(-100%);
    animation-name: slideouttobottom;
}

.slidedown.in {
    -webkit-transform: translateY(0);
    -webkit-animation-name: slideinfromtop;
    -moz-transform: translateY(0);
    -moz-animation-name: slideinfromtop;
    transform: translateY(0);
    animation-name: slideinfromtop;
}

/* slideleft */
.slideleft.out {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideouttoleft;
    -moz-transform: translateX(-100%);
    -moz-animation-name: slideouttoleft;
    transform: translateX(-100%);
    animation-name: slideouttoleft;
}

.slideleft.in {
    -webkit-transform: translateX(0);
    -webkit-animation-name: slideinfromright;
    -moz-transform: translateX(0);
    -moz-animation-name: slideinfromright;
    transform: translateX(0);
    animation-name: slideinfromright;
}

/* END JIM MODIFICATION */
.slideandfade.out {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideouttoleft;
    -moz-transform: translateX(-100%);
    -moz-animation-name: slideouttoleft;
    transform: translateX(-100%);
    animation-name: slideouttoleft;
}

.slideandfade.in {
    -webkit-transform: translateX(0);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 200ms;
    -moz-transform: translateX(0);
    -moz-animation-name: fadein;
    -moz-animation-duration: 200ms;
    transform: translateX(0);
    animation-name: fadein;
    animation-duration: 200ms;
}

/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
/* START JIM MODIFICATION */
@-webkit-keyframes flipouttoleft {
    from {
        -webkit-transform: rotateY(0);
    }
    to {
        -webkit-transform: rotateY(-90deg);
    }
}

@-moz-keyframes flipouttoleft {
    from {
        -moz-transform: rotateY(0);
    }
    to {
        -moz-transform: rotateY(-90deg);
    }
}

@keyframes flipouttoleft {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-90deg);
    }
}

@-webkit-keyframes flipintoright {
    from {
        -webkit-transform: rotateY(90deg);
    }
    to {
        -webkit-transform: rotateY(0);
    }
}

@-moz-keyframes flipintoright {
    from {
        -moz-transform: rotateY(90deg);
    }
    to {
        -moz-transform: rotateY(0);
    }
}

@keyframes flipintoright {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}

@-webkit-keyframes flipouttobottom {
    from {
        -webkit-transform: rotateX(0);
    }
    to {
        -webkit-transform: rotateX(-90deg);
    }
}

@-moz-keyframes flipouttobottom {
    from {
        -moz-transform: rotateX(0);
    }
    to {
        -moz-transform: rotateX(-90deg);
    }
}

@keyframes flipouttobottom {
    from {
        transform: rotateX(0);
    }
    to {
        transform: rotateX(-90deg);
    }
}

@-webkit-keyframes flipintotop {
    from {
        -webkit-transform: rotateX(90deg);
    }
    to {
        -webkit-transform: rotateX(0);
    }
}

@-moz-keyframes flipintotop {
    from {
        -moz-transform: rotateX(90deg);
    }
    to {
        -moz-transform: rotateX(0);
    }
}

@keyframes flipintotop {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0);
    }
}

.viewport-flipvertical, .viewport-fliphorizontal {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    position: absolute;
}

.flipvertical, .fliphorizontal {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -moz-backface-visibility: hidden;
    -moz-transform: translateX(0);
    backface-visibility: hidden;
    transform: translateX(0);
}

.flipvertical.out, .fliphorizontal.out {
    -webkit-animation-duration: 175ms;
    -moz-animation-duration: 175ms;
    animation-duration: 175ms;
}

.flipvertical.out {
    -webkit-transform: rotateX(-90deg);
    -webkit-animation-name: flipouttobottom;
    -moz-transform: rotateX(-90deg);
    -moz-animation-name: flipouttobottom;
    transform: rotateX(-90deg);
    animation-name: flipouttobottom;
}

.flipvertical.in {
    -webkit-animation-name: flipintotop;
    -moz-animation-name: flipintotop;
    animation-name: flipintotop;
}

.fliphorizontal.out {
    -webkit-transform: rotateY(-90deg);
    -webkit-animation-name: flipouttoleft;
    -moz-transform: rotateY(-90deg);
    -moz-animation-name: flipouttoleft;
    transform: rotateY(-90deg);
    animation-name: flipouttoleft;
}

.fliphorizontal.in {
    -webkit-animation-name: flipintoright;
    -moz-animation-name: flipintoright;
    animation-name: flipintoright;
}

/* END JIM MODIFICATION */
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-turn {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    position: absolute;
}

.turn {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    -webkit-transform-origin: 0;
    -moz-backface-visibility: hidden;
    -moz-transform: translateX(0);
    -moz-transform-origin: 0;
    backface-visibility: hidden;
    transform: translateX(0);
    transform-origin: 0;
}

.turn.out {
    -webkit-transform: rotateY(-90deg) scale(.9);
    -webkit-animation-name: flipouttoleft;
    -webkit-animation-duration: 125ms;
    -moz-transform: rotateY(-90deg) scale(.9);
    -moz-animation-name: flipouttoleft;
    -moz-animation-duration: 125ms;
    transform: rotateY(-90deg) scale(.9);
    animation-name: flipouttoleft;
    animation-duration: 125ms;
}

.turn.in {
    -webkit-animation-name: flipintoright;
    -moz-animation-name: flipintoright;
    animation-name: flipintoright;
}

/* flow transition */
.flow {
    -webkit-transform-origin: 50% 30%;
    -moz-transform-origin: 50% 30%;
    transform-origin: 50% 30%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

.ui-dialog.flow {
    -webkit-transform-origin: none;
    -moz-transform-origin: none;
    transform-origin: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.flow.out, flow.in {
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}

.flow.out {
    -webkit-transform: translateX(-100%) scale(.7);
    -webkit-animation-name: flowouttoleft;
    -moz-transform: translateX(-100%) scale(.7);
    -moz-animation-name: flowouttoleft;
    transform: translateX(-100%) scale(.7);
    animation-name: flowouttoleft;
}

.flow.in {
    -webkit-transform: translateX(0) scale(1);
    -webkit-animation-name: flowinfromright;
    -moz-transform: translateX(0) scale(1);
    -moz-animation-name: flowinfromright;
    transform: translateX(0) scale(1);
    animation-name: flowinfromright;
}

@-webkit-keyframes flowouttoleft {
    0% {
        -webkit-transform: translateX(0) scale(1);
    }
    60%, 70% {
        -webkit-transform: translateX(0) scale(.7);
    }
    100% {
        -webkit-transform: translateX(-100%) scale(.7);
    }
}

@-moz-keyframes flowouttoleft {
    0% {
        -moz-transform: translateX(0) scale(1);
    }
    60%, 70% {
        -moz-transform: translateX(0) scale(.7);
    }
    100% {
        -moz-transform: translateX(-100%) scale(.7);
    }
}

@keyframes flowouttoleft {
    0% {
        transform: translateX(0) scale(1);
    }
    60%, 70% {
        transform: translateX(0) scale(.7);
    }
    100% {
        transform: translateX(-100%) scale(.7);
    }
}

@-webkit-keyframes flowouttoright {
    0% {
        -webkit-transform: translateX(0) scale(1);
    }
    60%, 70% {
        -webkit-transform: translateX(0) scale(.7);
    }
    100% {
        -webkit-transform: translateX(100%) scale(.7);
    }
}

@-moz-keyframes flowouttoright {
    0% {
        -moz-transform: translateX(0) scale(1);
    }
    60%, 70% {
        -moz-transform: translateX(0) scale(.7);
    }
    100% {
        -moz-transform: translateX(100%) scale(.7);
    }
}

@keyframes flowouttoright {
    0% {
        transform: translateX(0) scale(1);
    }
    60%, 70% {
        transform: translateX(0) scale(.7);
    }
    100% {
        transform: translateX(100%) scale(.7);
    }
}

@-webkit-keyframes flowinfromleft {
    0% {
        -webkit-transform: translateX(-100%) scale(.7);
    }
    30%, 40% {
        -webkit-transform: translateX(0) scale(.7);
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
    }
}

@-moz-keyframes flowinfromleft {
    0% {
        -moz-transform: translateX(-100%) scale(.7);
    }
    30%, 40% {
        -moz-transform: translateX(0) scale(.7);
    }
    100% {
        -moz-transform: translateX(0) scale(1);
    }
}

@keyframes flowinfromleft {
    0% {
        transform: translateX(-100%) scale(.7);
    }
    30%, 40% {
        transform: translateX(0) scale(.7);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@-webkit-keyframes flowinfromright {
    0% {
        -webkit-transform: translateX(100%) scale(.7);
    }
    30%, 40% {
        -webkit-transform: translateX(0) scale(.7);
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
    }
}

@-moz-keyframes flowinfromright {
    0% {
        -moz-transform: translateX(100%) scale(.7);
    }
    30%, 40% {
        -moz-transform: translateX(0) scale(.7);
    }
    100% {
        -moz-transform: translateX(0) scale(1);
    }
}

@keyframes flowinfromright {
    0% {
        transform: translateX(100%) scale(.7);
    }
    30%, 40% {
        transform: translateX(0) scale(.7);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}