.test {
    background-color: red;
}

.verify_client_header {

}

.verify_client_form {

}

.verify_client_form input {

}

.verify_client_form button {

}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
