.eventTable {
    margin: auto;
    border-collapse: collapse;
}

.eventTable td {
    text-align: center;
}

.eventTable tbody tr:hover {
    background-color: #d7dd44;
}

.eventHeader {
    margin: auto;
    border-collapse: collapse;
}

.eventHeader td {
    text-align: center;
}

.popupContent {
}

.menuContent {
    float: left;
    margin-left: 10%;
}

.menuContent button {
    margin-top: 50%;
    background-color: #ffb837;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    font-size: 20px;
}

.content {
    width: 65%;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 30%;
    background-color: antiquewhite;
    position: relative;
}

.footer {
    padding-top: 10px;
    margin: 0 auto;
}

.footer button {
    background-color: #ffb837;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    margin-left: 10%;
}

.menu {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.map {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
